* {
    margin: 0px;
    padding: 0px;
    font-family: 'Bungee Shade', sans-serif;
    font-family: 'Sixtyfour', sans-serif;
}

#start-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 700px;
    background-color: rgb(122, 203, 231);
    background-image: url('pokemon-images/introImage2.gif');
    position: relative;
    overflow: hidden;
    background-size: cover;
}

#logoImage {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-175%);

}

#logoImage img {
    width: 380px;
}

h1 {
    text-align: center;
    color: rgb(6, 79, 190);
    transform: translateY(-210%);
    font-size: 30px;
}

#musicButton img {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
    gap: 30x;
}

#musicChoosing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    color: rgb(19, 99, 196);
    font-size: 13px;
    font-weight: 800;
}

#button-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    bottom: 250px;
    gap: 10px;
}

.pressStart img{
    width: 100px;
    height: 100px;
    background-color: white;

}

#body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-board {
    visibility: hidden;
    width: 850px;
    height: 700px;
    background-color: rgb(122, 203, 231);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-image: url('https://i.giphy.com/4N1FZFE5AGO3qrUGkw.webp');
}

#player {
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Charmander {
    background-image: url('./pokemon-images/charmander2.png');
}

.Squirtle {
    background-image: url('./pokemon-images/squirtle.png');
    background-size: cover;
}

.Bulbasaur {
    background-image: url('./pokemon-images/bulbasaur.png');
}

.power {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: cover;
}

.enemy {
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: cover;
}

#gameOver {
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translateY(140%) translateX(-30%);
    display: none;
    gap: 40px;
}

#gameOver h3 {
    background-color: crimson;
    color: white;
    padding: 20px;
}

#gameOver button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: white;
    padding: 10px;
    color: red;
}